<label for="pno">Personal number</label>
<input
	type="text"
	name="pno"
	id="pno"
	placeholder="123456-00000"
	value="<%= customer.personal_number %>"
	required
	autofocus
	pattern="\d{11}"
	title="Personal number should be 11 digits."
/>

<label for="fName">First name</label>
<input
	type="text"
	name="fName"
	id="fName"
	value="<%= customer.first_name %>"
	required
	minlength="2"
	maxlength="40"
/>

<label for="lName">Last name</label>
<input
	type="text"
	name="lName"
	id="lName"
	value="<%= customer.last_name %>"
	required
	minlength="2"
	maxlength="40"
/>

<label for="city">City</label>
<input 
	type="text" 
	name="city" 
	id="city" 
	value="<%= customer.city %>" 
	required
	minlength="2"
	maxlength="30"
/>

<label for="acctType">Account type</label>
<select name="acctType" id="acctType" required>
	<option disabled <%= customer.account_number ? '' : 'selected' %> hidden value="">--Select account type--</option>
	<option value="60" <%= customer.account_number ? (customer.account_number.substr(4, 2) == '60' ? 'selected' : '') : '' %> >Current account</option>
	<option value="50" <%= customer.account_number ? (customer.account_number.substr(4, 2) == '50' ? 'selected' : '') : '' %>>Deposit account</option>
	<option value="40" <%= customer.account_number ? (customer.account_number.substr(4, 2) == '40' ? 'selected' : '') : '' %>>Savings account</option>
	<option value="30" <%= customer.account_number ? (customer.account_number.substr(4, 2) == '30' ? 'selected' : '') : '' %>>Investment account</option>
</select>
