<h2>Delete existing customer</h2>

<form action="/customers/delete" method="POST">
	<%- include('../partials/_search_field.ejs', { customer: '' }) %>
	<div class="buttons-left">
		<input class="button-primary" type="submit" value="Find customer" />
	</div>
</form>

<% if (customers) { customers.forEach(customer=> { %>

<div class="customer-card">
	<div class="ids">
		<p>PNO</p>
		<p><%= customer.pno %></p>
		<p>CID</p>
		<p><%= customer.cid %></p>
	</div>

	<h3 class="name"><%= customer.fullName %></h3>
	<div class="details">
		<p>Account no.</p>
		<p><%= customer.accNo %></p>
		<p>Account type</p>
		<p><%= customer.accountType %></p>
		<p>City</p>
		<p><%= customer.city %></p>
		<p>Date of birth</p>
		<p><%= customer.birthdate %></p>
	</div>

	<p class="customer-since">
		Customer since <span><%= customer.sinceDate %> </span>
	</p>
</div>
<form
	action="/customers/<%= customer.personal_number %>?_method=DELETE"
	method="POST"
>
	<button id="delete-button" type="submit">Delete</button>
</form>

<% })} %>
