<h2>Find customer</h2>

<!-- Search for existing customer -->
<form action="/customers/find" method="GET">
	<%- include('../partials/_search_field.ejs', { customer: '' , minlength:
	'3'}) %>
	<div class="buttons-left">
		<input class="button-primary" type="submit" value="Search" />
	</div>
</form>

<!-- Send info to new customer-creation -->
<% if (typeof errorMessage !=='undefined' && !dbError) { %>
<form action="/customers/new" method="GET">
	<input
		type="hidden"
		name="pno"
		value="<%= searchOptions.customerCheck %>"
	/>
	<div class="buttons-left">
		<input type="submit" value="Create new customer" />
	</div>
</form>
<% } %>

<br />
<% if (customers) { customers.forEach(customer=> { %>

<div class="customer-card">
	<div class="ids">
		<p>PNO</p>
		<p><%= customer.pno %></p>
		<p>CID</p>
		<p><%= customer.cid %></p>
	</div>

	<h3 class="name"><%= customer.fullName %></h3>
	<div class="details">
		<p>Account no.</p>
		<p><%= customer.accNo %></p>
		<p>Account type</p>
		<p><%= customer.accountType %></p>
		<p>City</p>
		<p><%= customer.city %></p>
		<p>Date of birth</p>
		<p><%= customer.birthdate %></p>
	</div>

	<p class="customer-since">
		Customer since <span> <%= customer.sinceDate %> </span>
	</p>
</div>

<% })} %>
